*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white; */
}

h1{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}

.choise{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choise:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choises{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
    
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}